[submodule "contrib"]
	path = contrib
	url = https://github.com/kubernetes/contrib
[submodule "ec2-autoscale-reactor"]
	path = ec2-autoscale-reactor
	url = https://github.com/saltstack-formulas/ec2-autoscale-reactor
